# Virtual Environments
**/.venv
**/venv

# IDE folders
**/.idea
**/.vscode

# Python cache
**/__pycache__

# Secrets
*.env

# Datasets Ignores
Datasets/data/
/Models/
/Compressed_Models/
/MobileConversion/MobileModels/
/data/
